.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form {
  width: 100%;
}
.form-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-group label {
  font-size: 16px;;
}
form button {
  background: #456bd9;
  color: #fff;
  min-width: 80px;
  padding: 14px 16px;
  border: 1px solid transparent;
  outline: none;
}
.smurf-card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 20%;
  background: #456bd9;
  color: #fff;
  min-height: 130px;
  border-radius: 5px;
  margin-bottom: 10px;
}